cache/
out/
.gas-snapshot
.vscode/
.env
.encryptedKey
broadcast/
lib/

node_modules
package-lock.json

.DS_Store
src/.DS_Store
lib/chainlink-brownie-contracts/
lib/forge-std/
lib/openzeppelin-contracts/
lib/erc1363-payable-token/
